@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Some variables */
:root{
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgb(15, 31, 28, 0.5);
    --main-color: #fd4646;
    --text-color: #02ac70;
    --bg-color: #fff;
    --container-color: #1e1e2a;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 207, 216);
    color: #0F1F1C;
    scroll-behavior: smooth;
}
.none{
    display: none !important;
}
.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}
.section{
    padding: 4rem 0 3rem;
}
.container-right{
    padding-left: calc((100% - var(--container-width))/2 + var(--container-padding) ) ;
}
.container-left{
    padding-right: calc((100% - var(--container-width))/2 + var(--container-padding) ) ;
}
/*header*/
.header{
    position: relative;
    min-height: 940px;
    width: 100%;
    padding-top: 25px;
    background: var(--container-color);
    box-shadow: 0 1px 4px hsla(0, 0%, 98%, 0.1);
    z-index: 100;
    color: #fff;
}
.header a{
    color: #fff;
}
.header_top{
    margin-bottom: 86px;
}
.header_content{
    max-width: 592px;
}

/*nav*/
.nav{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
    padding: 20px 0;
}

.nav_list{
    display: flex;
    column-gap: 80px;
    font-size: 25px;
    font-weight: 500;
}
.nav_list a{
    position: relative;
}

.nav_list a.active::after,
.nav_list a:hover::after{
    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;
    content: "";
    display: block;
    /* width: 50px; */
    border-radius: 50px;
    height: 4px;
    background-color: rgb(232, 183, 183);
}
.nav_login{
    display: flex;
    column-gap: 25px;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.logo a{
    color: inherit;
}
.btn{
    display: inline-block;
    padding: 13px 44px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(129.05deg, #425f8e 15.38%, #111621 95.4%), #fff;
    border-radius: 100px;
}
.btn:hover{
    color: #a16623;
    transition: color 0.2s ease-in;
}
.btn:active{
    position: relative;
    top: 1.5px;
}

/*Login*/

.nav-icons{
    display: flex;
    column-gap: 1rem;
    z-index: 200;
}
.nav-icons .bx{
    font-size: 2.0rem;
    color: #ebf6ec;
    padding: 10px;
    background: var(--container-color);
    border-radius: 0.5rem;
    cursor: pointer;
}
.login-form{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255, 0.74);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: #21111b;
}
.login-form.active{
    display: flex;
}
.login-form form{
    max-width: 300px;
    width: 100%;
    margin: auto;
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding: 10px;
    color: #21111b;
}
.login-form form h2{
    font-size: 24px;
    font-weight: 600;
    color: #21111b;
}
.login-form form input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 14px;
    background: #a7b8d4;
    border: 2px solid #111621;
    border-radius: 0.5rem;
    color: #21111b;
}
.login-form form input::placeholder{
    font-size: 14px;
    font-weight: 400;
}
.login-form form a{
    font-size: 16px;
    font-weight: 500;
    color: crimson;
    text-align: right;
}
.login-form form a:hover{
    color: #2a2a19;
}
.login-form form .btn{
    border: none;
    background: #f7bcdc;
}
.login-form form .btn:hover{
    background: #a7b8d4;
}

/* Cart */

#cart-icon{
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
}
#cart-icon[data-quantitiy]::after{
    contain: "";
}
#cart-icon[data-quantitiy]::after{
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--container-color);
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart.active{
    right: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}
.total-price{
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
}
.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}
.cart-remove{
    font-size: 24px;
    cursor: pointer;
    color: var(--main-color);
}
/* Products */
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.8rem;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 3.5rem;
}
.product-box{
    position: relative;
    background: #dfafd5;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product-box:hover{
    background: var(--bg-color);
    border: 1px solid #f0f0f0;
    box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
    transition: 0.4s cubic-bezier(0.75, 0.82, 0.165, 1);
}
.product-box:hover .product-title,
.product-box:hover .price{
    color: #e60877;
}
.product-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}
.price{
    font-weight: 500;
    font-size: 15px;
}
.add-cart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    font-size: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.add-cart:hover{
    background: hsl(249, 32%, 17%);
}
/* Success */
.sc-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-container img{
    width: 200px;
    margin: 2rem 0;
}
.sc-container h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.sc-container p{
    max-width: 600px;
    font-size: 0.970rem;
    text-align: center;
    margin: 0.5rem 0;
}
.sc-btn{
    padding: 12px 20px;
    border-radius: 2rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
}

/* Making Responsive */
@media(max-width:1080px){
    .nav{
        padding: 14px 0;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}